.header {
  display: flex;
  align-items: center;
  .header__logo {
    margin-right: 64px;
  }
  .header__list {
    display: flex;
    list-style: none;
    .header__item {
      margin-right: 40px;
      .header__list-item-link {
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536b;
        mix-blend-mode: normal;
        opacity: 0.7;
      }
      .header__list-item-link:hover {
        opacity: 1;
      }
    }
  }
  .header__hamburger-img {
    display: none;
  }
  .header__link {
    margin-left: auto;
    width: 173px;
    height: 48px;
    box-sizing: border-box;
    background: #ba4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 16px;
    text-align: center;
  }
}
@media only screen and (max-width: 440px) {
  .header{
    justify-content: space-between;
  }
  .header__nav {
    .header__list{
      display: none;
    }
    .header__hamburger-img {
      display: block;
    }
  }
  .header__link {
    display: none;
  }
  
}
@media only screen and (max-width:1000px){
  .header__logo{
    margin: 0;
  }
}